/* Declarations */

@font-face {
    font-family: 'Butler Black';
    src: url('../assets/webfonts/butler_black-webfont.woff2');
}

/* Presentation */

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Butler Black', serif;
    color: white;
}

p {
    text-align: center;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    color: white;
    z-index: 2;
}

#pBackground {
    background-image: url(../assets/images/Blurred\ Sky.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#pLogo {
    z-index: 1;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 200px;
    top: 20px;
    transition: all 0.5s;
}

#pLogo:hover {
    transform: scale(1.2);
    opacity: 90%;
}

/* Functions (-) */

.-snugContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.-vhAlign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#filledNode {
    grid-column: 9;
    right: -20px;
}


