/* Declarations */

@font-face {
    font-family: 'Butler Black';
    src: url('../assets/webfonts/butler_black-webfont.woff2');
}

/* Animations (a) */

@keyframes aScaleUp {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes aFloatRight {
    from {
        opacity: 0;
        transform: translateX(-50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

body {
    animation: aScaleUp 2s;
}

#pArrow {
    animation: aFloatRight 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

h1 {
    animation: aFloatRight 2s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

/* Debugging */

.d {
    background-color: rgb(24, 168, 24);
    background-blend-mode: color-burn;
}

.dg {
    background-color: rgb(197, 197, 197);
}

.circle {
    float: left;
    width: 20%;
    height: 100%;
    padding-top: 100%; 
    shape-outside: circle(); 
}

/* Functions (-) */

.-snugContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.-layerOne {
    z-index: 1;
}

.-layerZero {
    z-index: 0;
}

.-vFlex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Body */

html {
    background-color: rgb(8, 26, 85);
}

#cPrimaryText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60%;
    position: absolute;
}

#pBackground {
    background-image: url(../assets/images/Sweet\ Blue\ Sky.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#pArrow {
    mix-blend-mode: soft-light;
    height: 100%;
}

#pLogo {
    width: 50px;
    position: absolute;
    top: 20px;
    transition: all 0.5s;
}

#pLogo:hover {
    transform: scale(1.2);
    opacity: 90%;
}

h1 {
    position: relative;
    width: 40%;
    margin-left: -5%;
    font-size: 3.5em;
    font-family: 'Butler Black', serif;
    color: white;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2.7em;
        width: 85%;
        position: absolute;
        left: 10%;
    }
    #cPrimaryText {
        width: 60%;
        position: absolute;
        top: 15%;
        left: 20%;
    }
    #pArrow {
        position: absolute;
        left: 0px;
    }
    #pLogo {
        width: 30px;
    }
}

#filledNode {
    grid-column: 1;
    grid-row: 1;
    left: 12px;
}