/* Declarations */

@font-face {
    font-family: 'Butler Black';
    src: url('../assets/webfonts/butler_black-webfont.woff2');
}

/* Presentation */

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Butler Black', serif;
    color: white;
}

p {
    text-align: center;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    color: white;
    z-index: 2;
}

#pBackground {
    background-image: url(../assets/images/Blurred\ Sky.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/* Functions (-) */

.-snugContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.-layerOne {
    z-index: 1;
}

.-layerZero {
    z-index: 0;
}

.-vFlex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 100%;
}

.-vhAlign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#filledNode {
    grid-column: 5;
    justify-self: center;
}